
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #19a5c9;
}

.wrapper {
    max-width: 410px;
    /* height controlled later */
    height: 260px;  
    background: #fff;
    border-radius: 10px;
    padding: 16px 25px;
    transition:  height 0.2s ease;
}

.wrapper.active {
    height: 530px;
}
header h1 {
    font-size: 1.5rem;
    font-weight: 500;
}

header p {
    margin-top: 5px;
    color: #474747;
    font-size: 1rem;
}

.wrapper .form {
    margin: 20px 0 30px;
}

.form :where(input, button) {
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.form input {
    font-size: 18px;
    padding: 0 17px;
    border: 1px solid #999;
}

.form button {
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    background: #3498db;
}

.wrapper .qr-code {
    width: 100%;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 33px 0;
    pointer-events:  none;
    opacity: 0;
}

.wrapper .qr-code img {
    width: 200px;
}

.wrapper.active .qr-code {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s 0.05s ease;
}


/* ******** Dobuts ****** */
/* 1. pointer-events ? */
/* 2. transition (according height) */